.box {
    position: relative;
    background-color: #fff;
    border-radius: 2.2rem;
    display: flex;
    flex-direction: column;
    margin: 16.4rem auto 18.2rem;
    padding-bottom: 4.5rem;

    &--processo {
        margin: 17.9rem auto 15.3rem;

        .box__container {
            gap: 3.7rem;

            .semi-circle {
                max-width: 20rem;

                figure {
                    height: 14.312rem;
                }

                h4 {
                    width: 16rem;
                }

                p {
                    margin-top: 2.5rem;
                }
            }
        }

        .box__title {
            display: flex;
            gap: 1.8rem;
            top: -3rem;

            article {
                display: flex;
                flex-direction: column;
                gap: .7rem;

                h2 {
                    font-size: 3rem;
                    font-weight: 700;
                }

                h3 {
                    font-size: 2.4rem;
                    color: #41B17E;
                }
                
                p {
                    font-size: 1.8rem;
                    color: #3E3E3E;
                }
                
                * {
                    line-height: 1;
                }
            }
        }
        
    }

    &::before {
        content: '';
        position: absolute;
        top: -0.2rem;
        left: -0.2rem;
        display: block;
        width: calc(100% + .4rem);
        height: calc(100% + .4rem);
        background: linear-gradient(180deg, rgba(0,89,136,1) 0%, rgba(65,177,126,1) 100%);
        z-index: -1;
        border-radius: 2.5rem;
    }

    &__title {
        position: absolute;
        top: -1.5rem;
        left: 7%;
        background-color: #fff;
        padding: 0 3rem;
        font-size: 3rem;
        color: #005988;
    }

    &__container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 7.8rem;
        margin: 12.6rem 0 7.4rem;

        .semi-circle {
            max-width: 25.2rem;
            width: 100%;

            h4 {
                font-size: 1.2rem;
                width: 20.08rem;
                line-height: 1.4rem;
            }
        }
    }

    & > span {
        max-width: 1204px;
        width: 90%;
        margin: 0 auto;
        font-size: 2rem;
        font-weight: 500;
        color: #005988;

        a {
            font-weight: 700;
            color: #41B17E;
            text-decoration: underline;
        }
    }

    & > a {
        font-size: 2.4rem;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
        padding: 1.8rem;
        border-radius: 1.5rem;
        max-width: 31.5rem;
        width: 100%;
        background-color: #41B17E;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: -3.3rem;
        right: 7%;
        margin: 0 2rem;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%);
            width: 37rem;
            background-color: #fff;
            height: 100%;
            z-index: -1;
        }
    }
}