.contratacao {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8.2rem 6.2rem;

    .title {
        width: 100%;
        justify-content: center;
    }

    & > span {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        font-size: 2.4rem;
        font-weight: 400;
        color: #41B17E;
    }

    &__card {
        flex: 1;
        max-width: 50rem;
        width: 100%;
        border-radius: 1.5rem;
        padding: 4.2rem 2.6rem 2.9rem;
        color: #fff;
        display: flex;
        flex-direction: column;
        gap: 4.4rem;

        h3 {
            display: flex;
            align-items: center;
            gap: .895rem;
            font-size: 2.4rem;
            font-weight: 700;
            text-transform: uppercase;
        }

        article {
            margin: .3rem 0 .5rem;
            font-size: 1.8rem;
            font-weight: 300;

            ul {
                list-style-position: inside;
                display: flex;
                flex-direction: column;
                gap: 3rem;

                li {
                    display: flex;
                    align-items: center;
                    gap: .9rem;

                    &::before {
                        content: '';
                        background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2223%22%20viewBox%3D%220%200%2024%2023%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M23.8758%200.2004C23.8146%200.1542%2023.7354%200.1308%2023.6412%200.1308C23.3943%200.1308%2022.944%200.3039%2022.3032%200.6456C21.7884%200.9198%2021.2217%201.2675%2020.8236%201.5528C19.0509%202.7855%2017.2308%204.4826%2015.4137%206.5964C13.7769%208.5008%2012.1893%2010.6851%2010.6944%2013.089L10.6917%2013.0932C10.6797%2013.1136%2010.6668%2013.134%2010.6533%2013.1544C10.6374%2013.1784%2010.6152%2013.1835%2010.5993%2013.1835C10.5843%2013.1835%2010.5573%2013.179%2010.5435%2013.1481L10.5336%2013.1256L10.5204%2013.1073C9.8451%2012.1569%208.4885%2010.3494%206.9891%208.922C6.6519%208.6007%206.2103%208.424%205.7462%208.424C5.4405%208.424%205.1384%208.5014%204.872%208.6481C4.5936%208.8011%204.3596%209.0279%204.1949%209.3036L4.1625%209.3582C3.9426%209.7269%203.8613%2010.1631%203.9336%2010.5864C4.0062%2011.0091%204.2276%2011.3937%204.5567%2011.6697C6.7401%2013.4973%208.4978%2015.9729%2010.1976%2018.3666C10.2792%2018.4815%2010.3608%2018.5961%2010.4418%2018.7107C10.5366%2018.8439%2010.6842%2018.9204%2010.8474%2018.9204C11.0442%2018.9204%2011.2176%2018.8097%2011.3001%2018.6312C13.5468%2013.7796%2017.1927%206.7377%2022.89%201.6065L22.899%201.5984L22.9071%201.5894C22.9965%201.4889%2023.121%201.3842%2023.253%201.2738C23.5281%201.0431%2023.8404%200.7815%2023.9514%200.4419L24%200.294L23.8758%200.2004ZM21.354%205.7567C21.2046%205.496%2020.8722%205.4054%2020.6112%205.5551C20.3505%205.7045%2020.2599%206.0369%2020.4093%206.2979C21.3%207.8525%2021.7707%209.6273%2021.7707%2011.43C21.7707%2017.1321%2017.1318%2021.7713%2011.4294%2021.7713C5.7273%2021.7713%201.0881%2017.1324%201.0881%2011.43C1.0881%205.7279%205.727%201.0887%2011.4294%201.0887C13.4229%201.0887%2015.3582%201.6569%2017.0256%202.7321C17.2782%202.895%2017.6151%202.8221%2017.778%202.5698C17.9409%202.3172%2017.868%201.9803%2017.6157%201.8174C15.7722%200.6285%2013.6329%200%2011.4297%200C9.8871%200%208.3901%200.3024%206.9807%200.8985C5.6196%201.4742%204.3971%202.2983%203.348%203.3477C2.2983%204.3974%201.4745%205.6193%200.8988%206.9804C0.3024%208.3901%200%209.8871%200%2011.4297C0%2012.9723%200.3024%2014.4693%200.8985%2015.8787C1.4742%2017.2398%202.2983%2018.4623%203.3477%2019.5114C4.3974%2020.5611%205.6193%2021.3849%206.9804%2021.9606C8.3901%2022.557%209.8868%2022.8591%2011.4294%2022.8591C12.972%2022.8591%2014.469%2022.5567%2015.8784%2021.9606C17.2395%2021.3849%2018.462%2020.5608%2019.5111%2019.5114C20.5608%2018.4617%2021.3846%2017.2398%2021.9603%2015.8787C22.5567%2014.4693%2022.8591%2012.9723%2022.8591%2011.4297C22.8591%2010.4181%2022.7268%209.4143%2022.4658%208.4462C22.2129%207.5072%2021.8388%206.6021%2021.354%205.7567Z%22%20fill%3D%22white%22%2F%3E%3C%2Fsvg%3E');
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: contain;
                        display: flex;
                        align-items: center;
                        width: 2.4rem;
                        height: 2.3rem;
                        aspect-ratio: 24 / 23;
                    }
                }
            }
        }

        & > span {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: .7rem;
            font-size: 1.6rem;
            background-color: rgba(255, 255, 255, 0.35);
            padding: 1.8rem;
            border-radius: 1.5rem;

            strong {
                font-size: 3.6rem;
            }
        }

        & > a {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2.4rem;
            font-weight: 700;
            text-transform: uppercase;
            background-color: #fff;
            border-radius: 1.5rem;
            padding: 1.75rem;
            margin-top: auto;
        }        
    }
}