@import "../abstracts/utilities";

.compliance__info {
    display: flex;
    justify-content: space-between;
    gap: 6.4rem;
}

.compliance__content {
    max-width: 67.1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5.3rem;
}

.compliance__aside {
    max-width: 39rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.compliance__aside figure {
    width: 100%;
    aspect-ratio: 39/49.3;
    border-radius: 2.5rem;
    overflow: hidden;
}

.compliance__aside figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.compliance__aside a {
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.7rem;
    border-radius: 2.5rem;
    background-color: #41B17E;
    width: 100%;
}

.compliance__content > article {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 1.6rem;
    color: #3E3E3E;
    line-height: 2.4rem;
}

.compliance__content > article h2 {
    font-weight: 300;
    color: #0083CA;
    text-transform: uppercase;
}

.compliance__container {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.compliance__detalhe {
    display: flex;
    gap: 2.6rem;
}

.compliance__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;

    a {
        display: flex;
        align-items: center;
        gap: 1.9rem;

        span {
            font-size: 1.6rem;
            font-weight: 400;
            color: #005988;
        }
    }

    figure {
        max-width: 2.2rem;
        width: 100%;
        height: auto;
        display: flex;

        img {
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }
}

.compliance__detalhe article {
    max-width: 59.1rem;
    width: 100%;
    font-size: 1.4rem;
    color: #41B17E;
}

.banner-denuncia {
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
    background-color: #0083CA;
    border-radius: 2.5rem;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
    margin-top: 15rem;

    .wrapper {
        display: flex;
        gap: 1.5rem;
    }

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2.7rem;
        background-color: #005988;
        max-width: 57rem;
        width: 100%;
        border-radius: 2.5rem;
        font-size: 1.8rem;
        font-weight: 500;
        text-transform: uppercase;
        padding: 1.5rem;
        margin-top: 2.6rem;

        img {
            width: 4.8rem;
            height: auto;
            object-fit: contain;
        }
    }

    article {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        max-width: 70.6rem;
        width: 100%;
        margin: 5.5rem 0 3.7rem;
    }

    figure {
        max-width: 45.5rem;
        width: 100%;
        margin-top: -9.3rem;
        display: flex;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}