@import '../abstracts/utilities';

.cards {
    &__container {
        max-width: 800px;
    }
}

.card {
    min-height: 35rem;
    flex: 1 0 calc(33.33% - 2.5rem);
    padding: 4rem 2rem;
}

.wpcf7 form > p:last-of-type {
    flex: 1 0 50%;
    max-width: calc(50% - 2rem);
}

.highlight {
    h2 {
        font-size: 3.5rem;
        white-space: nowrap;

        @include max (1100) {
            white-space: initial;
        }
    }

    p:last-of-type {
        display: none;
    }
}