@import '../abstracts/utilities';

.cards {
    max-width: 1565px;

    &__container {
        gap: 2.5rem;
    }

    &.box {
        padding: 8rem 5rem 10rem;
        margin-bottom: 12rem;

        @include max (600) {
            padding-top: 15rem;
        }

        .box__title {
            font-size: 3rem;
            font-weight: 700;
            top: -2.5rem;

            @include max (600) {
                top: -5rem;
                left: 50%;
                transform: translateX(-50%);
                width: 90%;
                text-align: center;

                &::before, &::after {
                    display: none;
                }
            }
        }
    }
}

.card {
    min-height: 39rem;
    flex: 1 0 calc(16.6% - 5rem);
    gap: 5rem;
    padding: 4rem 2rem;
}

.wpcf7 form > p:last-of-type {
    flex: 1 0 50%;
    max-width: calc(50% - 2rem);
}

.highlight {
    h2 {
        font-size: 3.5rem;
        white-space: nowrap;

        @include max (1100) {
            white-space: initial;
        }
    }

    p:last-of-type {
        display: none;
    }
}