@import '../abstracts/utilities';

.banner {
    padding: 17.1rem 0 8.2rem;

    &__content {
        max-width: 100%;
        text-align: justify;

        &:has(hr+p) hr {
            display: none;
        }

        & > *:not(p:last-of-type) {
            max-width: 68rem;
        }

        hr + p {
            display: flex;
            align-items: center;
            gap: 5.8rem;

            margin-top: 6rem;
            background-color: #0083CA;
            border-radius: 2.5rem;
            padding: 3.6rem 8.5rem;

            &::before {
                content: url('data:image/svg+xml,%3Csvg%20width%3D%22111%22%20height%3D%22175%22%20viewBox%3D%220%200%20111%20175%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M27.1951%200.0507468C32.9621%200.366252%2040.0519%20-0.632847%2047.0359%200.734341C53.914%202.04894%2059.734%205.20399%2063.755%2011.1986C75.6595%2028.7617%2087.6168%2046.2722%2099.5742%2063.8353C102.696%2068.4101%20105.765%2072.9849%20108.78%2077.6124C111.214%2081.2932%20111.108%2085.0267%20108.622%2088.655C100.685%20100.329%2092.6961%20111.95%2084.7069%20123.623C77.6171%20133.983%2070.5273%20144.342%2063.4376%20154.648C61.1096%20158.066%2058.8345%20161.484%2056.4007%20164.797C51.3744%20171.633%2043.9672%20174.315%2035.9779%20174.683C25.7666%20175.156%2015.5552%20174.84%205.29087%20174.84C1.53435%20174.84%200%20173.263%200%20169.477C0%20161.274%200%20153.018%200%20144.815C0%20140.924%201.53435%20139.451%205.50251%20139.451C11.0579%20139.399%2016.6133%20139.399%2022.1688%20139.451C23.5973%20139.451%2024.5496%20139.031%2025.4491%20137.769C36.8774%20121.047%2048.3586%20104.325%2059.8927%2087.7085C60.845%2086.3413%2060.845%2085.4474%2059.8927%2084.0802C52.0622%2072.8272%2044.3375%2061.5742%2036.6128%2050.2686C33.6499%2045.9567%2030.6871%2041.75%2027.83%2037.4381C26.9305%2036.1235%2025.9782%2035.545%2024.3909%2035.545C19.4704%2035.5976%2011.3225%2035.5976%206.40196%2035.545C2.69835%2035.545%200.370361%2033.7046%200.317452%2030.1289C0.158726%2021.8206%200.158726%2013.4597%200.317452%205.15141C0.370361%201.89119%202.59253%200.103331%205.81996%200.103331C11.4812%200.0507468%2020.317%200.0507468%2027.1951%200.0507468Z%22%20fill%3D%22%23F2FFF9%22%20fill-opacity%3D%220.25%22%2F%3E%3C%2Fsvg%3E');
                width: 11rem;
                height: 17.4rem;
            }
        }
    }
}

.sobre-nos__linha {
    display: flex;
    flex-direction: column;
    gap: 10.7rem;
    margin: 13.3rem auto 11.7rem;

    figure {
        max-width: 1595px;
        width: 90%;
        margin: 0 auto;

        img {
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }
}

.nossos-valores {
    background-color: #F5F5F5;
    padding: 8rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9.5rem;

    .title {
        justify-content: center;
    }

    .semi-circle {
        flex: 1;
    }
    
    .nossos-valores__container {
        display: flex;
        flex-wrap: wrap;
        gap: 5rem;
        justify-content: space-between;
    }
}

.nossa-historia {
    margin: 10rem auto;

    &__content {
        column-count: 2;
        gap: 5rem;
        font-size: 1.8rem;
        color: #3E3E3E;
        margin-top: 5rem;
        white-space: break-spaces;

        hr {
            display: none;

            & + p {
                font-style: italic;
            }
        }
    }
}

.causas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 15.5rem;

    &__container {
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        margin-top: 24.7rem;
        gap: 8rem;

        @include max (1100) {
            margin-top: 5rem;
        }

        @include max (768) {
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
    }

    &__item {
        flex: 1;
        max-width: 34rem;
        display: flex;
        flex-direction: column;
        gap: 5.9rem;
        position: relative;

        @include max (1100) {
            justify-content: center;
            align-items: center;
        }

        span {
            font-size: 1.8rem;
            font-weight: 500;
            text-align: center;
        }

        &::after {
            position: absolute;
            top: -24.5rem;
            left: -3rem;

            @include max (1100) {
                display: none;
            }
        }

        &:first-of-type::after {
            content: url('data:image/svg+xml,%3Csvg%20width%3D%22461%22%20height%3D%22379%22%20viewBox%3D%220%200%20461%20379%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M460.14%2010.7217C460.14%204.79969%20455.345%200%20449.428%200C443.512%200%20438.717%204.79969%20438.717%2010.7217C438.717%2016.0676%20442.626%2020.4969%20447.735%2021.3087C442.443%2070.5215%20400.701%20108.971%20350.153%20108.971H257.145C230.33%20108.971%20205.117%20119.424%20186.154%20138.406C167.191%20157.387%20156.748%20182.624%20156.748%20209.466V219.858C135.834%20220.004%20115.54%20224.175%2096.42%20232.271C77.6211%20240.232%2060.7358%20251.623%2046.2386%20266.138C31.7414%20280.649%2020.3574%20297.551%2012.4043%20316.368C4.17463%20335.848%200%20356.543%200%20377.878C0%20378.499%200.500806%20379%201.12121%20379C1.74161%20379%202.24241%20378.499%202.24241%20377.878C2.24241%20291.981%2072.0562%20222.095%20157.873%20222.095C243.691%20222.095%20313.504%20291.977%20313.504%20377.878C313.504%20378.499%20314.005%20379%20314.626%20379C315.246%20379%20315.747%20378.499%20315.747%20377.878C315.747%20356.547%20311.572%20335.851%20303.339%20316.368C295.386%20297.551%20284.005%20280.649%20269.504%20266.138C255.007%20251.627%20238.122%20240.232%20219.323%20232.271C200.199%20224.175%20179.909%20220.004%20158.995%20219.858V209.466C158.995%20155.292%20203.028%20111.216%20257.149%20111.216H350.157C376.972%20111.216%20402.184%20100.764%20421.148%2081.7819C437.566%2065.3477%20447.59%2044.2223%20449.989%2021.4284C455.647%2021.1404%20460.143%2016.4566%20460.143%2010.7217H460.14Z%22%20fill%3D%22%23005988%22%2F%3E%3C%2Fsvg%3E');
        }

        &:nth-of-type(2)::after {
            content: url('data:image/svg+xml,%3Csvg%20width%3D%22317%22%20height%3D%22379%22%20viewBox%3D%220%200%20317%20379%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M303.967%20316.365C296.014%20297.547%20284.634%20280.646%20270.133%20266.134C255.636%20251.623%20238.75%20240.228%20219.951%20232.267C200.827%20224.172%20180.537%20220%20159.623%20219.854V21.3835C165.012%2020.8224%20169.213%2016.2621%20169.213%2010.7217C169.213%204.79969%20164.418%200%20158.502%200C152.586%200%20147.791%204.79969%20147.791%2010.7217C147.791%2016.2658%20151.991%2020.8224%20157.381%2021.3835V219.854C136.466%20220%20116.173%20224.172%2097.0522%20232.267C78.2533%20240.228%2061.3679%20251.619%2046.8707%20266.134C32.3735%20280.646%2020.9895%20297.547%2013.0364%20316.365C4.80305%20335.848%200.628418%20356.543%200.628418%20377.874C0.628418%20378.495%201.12922%20378.996%201.74962%20378.996C2.37003%20378.996%202.87083%20378.495%202.87083%20377.874C2.87083%20291.977%2072.6847%20222.092%20158.502%20222.092C244.319%20222.092%20314.133%20291.973%20314.133%20377.874C314.133%20378.495%20314.634%20378.996%20315.254%20378.996C315.874%20378.996%20316.375%20378.495%20316.375%20377.874C316.375%20356.543%20312.201%20335.848%20303.967%20316.365Z%22%20fill%3D%22%2341B17E%22%2F%3E%3C%2Fsvg%3E');
        }

        &:last-of-type::after {
            content: url('data:image/svg+xml,%3Csvg%20width%3D%22461%22%20height%3D%22379%22%20viewBox%3D%220%200%20461%20379%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M448.592%20316.365C440.639%20297.547%20429.259%20280.646%20414.758%20266.134C400.26%20251.623%20383.375%20240.228%20364.576%20232.267C345.452%20224.171%20325.162%20220%20304.248%20219.854V209.462C304.248%20182.62%20293.806%20157.384%20274.842%20138.402C255.879%20119.42%20230.667%20108.968%20203.851%20108.968H110.847C60.2993%20108.968%2018.5568%2070.5177%2013.2647%2021.3049C18.3774%2020.4931%2022.2829%2016.0638%2022.2829%2010.7179C22.2829%204.79591%2017.4879%20-0.00378418%2011.5716%20-0.00378418C5.65539%20-0.00378418%200.860352%204.79591%200.860352%2010.7179C0.860352%2016.6399%205.36014%2021.1366%2011.0148%2021.4246C13.4104%2044.2185%2023.4377%2065.3439%2039.8559%2081.7781C58.8193%20100.76%2084.0315%20111.212%20110.847%20111.212H203.851C257.975%20111.212%20302.005%20155.289%20302.005%20209.462V219.854C281.091%20220%20260.797%20224.171%20241.677%20232.267C222.878%20240.228%20205.993%20251.619%20191.495%20266.134C176.998%20280.646%20165.614%20297.547%20157.661%20316.365C149.428%20335.848%20145.253%20356.543%20145.253%20377.874C145.253%20378.495%20145.754%20378.996%20146.374%20378.996C146.995%20378.996%20147.495%20378.495%20147.495%20377.874C147.495%20291.977%20217.309%20222.091%20303.126%20222.091C388.944%20222.091%20458.757%20291.973%20458.757%20377.874C458.757%20378.495%20459.258%20378.996%20459.879%20378.996C460.499%20378.996%20461%20378.495%20461%20377.874C461%20356.543%20456.825%20335.848%20448.592%20316.365Z%22%20fill%3D%22%230083CA%22%2F%3E%3C%2Fsvg%3E');
            left: inherit;
            right: 1.2rem;
        }
    }
    
    &__imagem {
        width: 25.5rem;
        aspect-ratio: 1;
        border-radius: 50%;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.highlight {
    background-color: transparent;
    border: .5rem solid #005988;

    article {
        font-size: 1.8rem;
        font-weight: 500;
        text-transform: none;
        color: #005988;

        h2 {
            color: #41b17e;
            text-transform: uppercase;
        }
    }
}

.video {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 11.7rem;

    figure {
        aspect-ratio: 16/9;
        max-width: 106.3rem;
        width: 100%;
        height: auto;
    
        iframe {
            width: 100%;
            height: 100%;
        }
        
    }
}